:root {
    --blue-color: #0056D6;
    --gray-color: #757575;

    --red-thin-color: #FFF0E9;
    --green-thin-color: #E9F6EE;
    --yellow-thin-color: #FFF6DD;
    --blue-thin-color: #EDFFFF;

    --red-thick-color: #FF8345;
    --green-thick-color: #48B774;
    --yellow-thick-color: #FFCB46;
    --blue-thick-color: #61FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

